<h1>Articles#index</h1>
<p>Page d'accueil qui liste les liens des articles</p>
<%= paginate @articles, :outer_window => 3, :params => {:per_page => 10} %>
<% @articles.each do |article| %>
  <p><%= article_link article %></p>
<% end %>
  
<p>Le nombre d'articles total est : <%=  Article.count %>.</p>