<h1><%= @article.titre %></h1>
<p><%= @article.contenu %></p>
<p><a href="../../">Retourner a index</a></p>

<h1>Ajouter un commentaires sur l'article</h1>
<%= form_tag "/articles/#{@article.id}", method: "patch" do %><pre>
<label for="comment_author" >Auteur : </label>     <input  id="comment_author" type="text" name="author" value="" /> 
<p style="color: red;" ><%= @comment.errors[:author].first unless @comment.nil? %></p>
<label for="comment_text" >Commentaire : </label><textarea id="comment_text" name="text" rows="4" cols="50" ></textarea>
<p style="color: red;" ><%= @comment.errors[:text].first unless @comment.nil? %></p> 
<input type="submit" value="Ajouter un commentaire" /></pre>
<% end %>

<h1>Les commentaires de l'article</h1>
<% Comment.by_article(@article.id).each do |comment| %>
  <p>id : <%= comment.id %>. </p>
  <p>Auteur : <%= comment.author %>. </p>
  <p>Commentaire : <%= comment.text %></p>
  <hr/>
<% end %>