<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div style="color: red;"><%= flash[:success] %></div>
        <%= yield %>

    </body>
</html>